@import '~bootstrap';
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
    background: linear-gradient(45deg, #65BF92, #2D3F56);
}
 h1, .client-info,
.form-text, .form-label, .btn  {
    color: #fff;
}


@import 'header';
@import 'clients';
@import 'home';