.card:hover {
    box-shadow: 0 0 10px #65BF92,
                0 0 30px #65BF92,
                0 0 50px #65BF92;
}

.card-header {
    background: linear-gradient(225deg, #65BF92, #2D3F56);
    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.card-body {
    background: linear-gradient(225deg, #65BF92, #2D3F56);
}

.list-group-item {
    background: linear-gradient(225deg, #65BF92, #2D3F56);
}

.client-line {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .client-info {
        display: flex;
        justify-content: space-around;
    }
    .myg-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
        color: #2D3F56;
    }
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
