.home {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    h1 {
        color: skyblue;
        font-size: 150px;
        line-height: 1;
        .sub {
            color: crimson;
            font-size: 30px;
            line-height: 1;
            &.letter {
                letter-spacing: 5.5px;
            }
        }
    }
}
